@import "../../_globals.scss";

.sign-in {
  align-items: center;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 40%;

  @media screen and (max-width: 750px) {
    width: 90%;
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 90%;

    .button-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  .error {
    color: red;
    margin: 0 0 10px;
    text-align: center;
  }
}
