@import "../../_globals.scss";

.sign-in {
  align-items: center;
  background-color: $dark-0;
  color: $dark-secondary-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: 40%;

  @media screen and (max-width: 750px) {
    width: 90%;
  }
  h2 {
    color: $dark-primary-text;
    font-weight: 600;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 90%;

    .button-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  .error {
    color: red;
    margin: 0 0 10px;
    text-align: center;
  }
}
