REACT_APP_FIREBASE_API_KEY=AIzaSyBBougi-iecxqTOOD2iahFN-yUfG5tKEMo
REACT_APP_FIREBASE_AUTH_DOMAIN=pantri-128f4.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=pantri-128f4
REACT_APP_FIREBASE_STORAGE_BUCKET=pantri-128f4.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=480125689887
REACT_APP_FIREBASE_APP_ID=1:480125689887:web:8603482672c1217834752a
REACT_APP_FIREBASE_MEASUREMENT_ID=G-5RVBRNC8RQ
