@import "../../_globals.scss";

.searchbox {
  display: flex;
  justify-content: center;
  padding: 9px 0 0 0;
  width: 100%;
  background-color: $secondary-color;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
