.card {
  align-items: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  text-transform: capitalize;

  .card-header {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 0 20px;
    color: white;

    .card-title {
      padding: 0 20px;

      @media screen and (max-width: 450px) {
        padding: 0 0 0 5px;
      }
    }

    .title-link {
      padding: 20px;
      text-decoration: none;
      color: white;
      cursor: pointer;
      border: none;
      background-color: transparent;
      transition: all 0.5s;
      @media screen and (max-width: 450px) {
        padding: 0 5px;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
      }
    }
    .card-header-buttons {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      top: 2px;
    }
  }

  .card-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: space-between;

    .card-button {
      background-color: white;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 4px;
      box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-bottom: 1rem;
      padding: 10px 0;
      text-align: center;
      width: 100%;

      &:hover {
        background-color: rgb(163, 163, 163);
      }
    }
  }
}
