@import "../../_globals.scss";

.card {
  align-items: center;
  color: $dark-primary-text;
  background-color: $dark-0;
  border: 1.5px solid $dark-2;
  border-radius: 6px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
  overflow: hidden;

  .card-header {
    display: flex;
    width: 90%;
    max-width: 500px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 10px 0;
    color: $dark-primary-text;

    .card-title {
      margin: 0;
      border-radius: 0.5rem;
      font-weight: 500;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.5s;

      @media screen and (max-width: 450px) {
        font-size: 20px;
      }
      &:hover {
        background-color: $dark-1;
        transform: scale(1.1);
      }
    }

    .title-link {
      font-size: 20px;
      border-radius: 0.5rem;
      text-decoration: none;
      color: $dark-secondary-text;
      cursor: pointer;
      border: none;
      background-color: transparent;
      transition: all 0.5s;

      padding: 0 7px;

      &:hover {
        background-color: $dark-1;
        transform: scale(1.1);
      }
    }
    .card-header-buttons {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .card-body {
    color: $dark-primary-text;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
  }
}
