@import "../../_globals.scss";

.ingredient-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 0px;
  width: 100%;

  .ingredient {
    display: flex;

    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $dark-1;
    border-top: 1px solid $dark-1;
    padding: 2px 0;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }

    .ingredient-button {
      background-color: transparent;
      border-radius: 0.5rem;
      border: none;
      color: $dark-secondary-text;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-size: 20px;
      font-weight: lighter;
      transition: 0.4s;
      justify-content: center;

      &:hover {
        background-color: $dark-1;
      }
    }
    .ingredient-text {
      flex-grow: 1;
      text-align: left;
      padding: 0 10px;
      font-size: 18px;
      cursor: pointer;
      background: none;
      border:none;
      color: inherit;
      font-size:inherit;
      
    }
    .ingredient-sources {
      margin-top: 5px;
      font-size: 14px;
      color: $dark-secondary-text;

      ul {
        margin: 5px 0 0 15px;
        padding: 0;
      }
      li {
        // use '-' as bullet
        list-style-type: '- ';
      }
    }
  }
}
