.footer {
  background-color: #333333;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 30px;

  .social-section {
    align-items: stretch;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    .social {
      width: 40px;
    }
  }

  .social > a > img {
    border-radius: 50%;
    transition: all, 0.5s;
    border: none;
    object-fit: cover;
    width: 100%;

    &:hover {
      background-color: white;
      transform: scale(1.2);
    }
  }
}
