$main-color: #444444;
$secondary-color: white;

$dark-background: url(/assets/background-dark.png);
$dark-0: #202124;
$dark-1: #28292b;
$dark-2: #404143;
$dark-secondary-text: #b3b4b6;
$dark-primary-text: #ffffff;
