@import "./_globals.scss";

.app {
  background-image: url(/assets/food-doodle-2.png);
  background-repeat: repeat;
  background-size: 30vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .app-header {
    background-color: $main-color;
    min-height: 80px;
    padding: 10px 0;
    width: 100%;

    .nav {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;

      .logo {
        max-width: 300px;
        width: 30%;
      }
      .nav-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .small-screen {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;

      .logo {
        height: auto;
        margin: 0 10px;
        max-width: 200px;
        width: 60%;
      }
    }
  }
}
.nav-link {
  color: $secondary-color;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 10px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.15);
  }
}
a {
  color: $secondary-color;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.15);
  }
}

.logo {
  width: 90%;
}

* {
  box-sizing: border-box;
}

.body {
  flex-grow: 1;
}

.fade-in {
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .page-header {
    max-width: 500px;
    width: 100%;
  }
  .recipes-empty {
    align-items: center;
    background-color: $secondary-color;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
  }
  .title {
    align-items: center;
    background-color: $secondary-color;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }
}
