@import "./_globals.scss";

.app {
  background-image: url(~/assets/background-dark.png);
  background-color: $dark-0;
  background-repeat: repeat;
  background-size: 40vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .app-header {
    background-color: $dark-0;
    min-height: 80px;
    padding: 10px 0;
    width: 100%;

    @media screen and (max-width: 575px) {
      position: fixed;
      z-index: 998;
    }

    .nav {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;

      .logo {
        width: 250px;
      }
      .nav-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .small-screen {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;

      .logo {
        height: auto;
        margin: 0 10px;
        width: 200px;
      }
    }
  }
}
.nav-link {
  color: $dark-primary-text;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 10px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.15);
  }
}
a {
  color: $dark-primary-text;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.15);
  }
}

.error {
  color: rgb(185, 0, 0);
}

* {
  box-sizing: border-box;
}

.body {
  flex-grow: 1;
}

.fade-in {
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
  transition: all 0.8;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .page-header {
    margin-top: 10px;
    padding: 10px;
    background-color: $dark-0;
    max-width: 500px;
    width: 100%;
    color: $dark-secondary-text;
    border: 1.5px solid $dark-2;
    border-radius: 6px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
  }
  .recipes-empty {
    align-items: center;
    background-color: $dark-0;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
  }
  .title {
    align-items: center;
    background-color: $dark-0;
    color: $dark-primary-text;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    font-weight: 600;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    @media screen and (max-width: 575px) {
      margin-top: 100px;
    }
  }
  .new-recipe-title {
    font-weight: 600;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $dark-primary-text;
  -webkit-box-shadow: 0 0 0px 1000px $dark-0 inset;
  transition: background-color 5000s ease-in-out 0s;
}
